---

import StdHeader from "../components/StdHeader.astro";
import CodeHeading from "../components/CodeHeading.astro";---
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/jb.pk.def.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>about piker</title>
</head>
<style is:global>
    body {
        background-color: #141D2C;
    }
</style>
<body >
<style>
    .head3 {
        padding-top: 5px;
        font-size: xxx-large;
        color: #A8A2A2;
        text-align: center;
        font-family: "Anonymous pro", monospace;
    }
    .head5 {
        font-size: large;
        text-align: center;
        color: #A8A2A2;
    }
    .divider {
        border: 1px solid;
        margin-bottom: 5px;
    }
    .par {
        color: #A8A2A2;
        font-family: "Montserrat", sans-serif;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
</style>
<StdHeader/>
<CodeHeading command="whoami" characters="6"/>
<div>
    <div class="grid grid-cols-2 gap-5">
        <div class="column">
            <h3 class="head3 ml-5 mr-5">Me, piker</h3>
            <p class="par">
                And this is a paragraph right below it.
                Here goes some text and text and text and text.
                This text will then be rendered in the webpage, as any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>

        </div>
        <div class="column">
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
            <h3 class="head3 ml-5 mr-5">I, the only</h3>
            <p class="par">
                Me, and only me. It is indeed me.
                Im 16 years old. Me, not any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
            <h3 class="head3"> Albeit another heading.</h3>
        </div>
    </div>
</div>
<div>
    <div class="grid grid-cols-2 gap-5">
        <div class="column">
            <h3 class="head3 ml-5 mr-5">Me, piker</h3>
            <p class="par">
                And this is a paragraph right below it.
                Here goes some text and text and text and text.
                This text will then be rendered in the webpage, as any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>

        </div>
        <div class="column">
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
            <h3 class="head3 ml-5 mr-5">I, the only</h3>
            <p class="par">
                Me, and only me. It is indeed me.
                Im 16 years old. Me, not any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
            <h3 class="head3"> Albeit another heading.</h3>
        </div>
    </div>
</div>
<div>
    <div class="grid grid-cols-2 gap-5">
        <div class="column">
            <h3 class="head3 ml-5 mr-5">Me, piker</h3>
            <p class="par">
                And this is a paragraph right below it.
                Here goes some text and text and text and text.
                This text will then be rendered in the webpage, as any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>

        </div>
        <div class="column">
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
            <h3 class="head3 ml-5 mr-5">I, the only</h3>
            <p class="par">
                Me, and only me. It is indeed me.
                Im 16 years old. Me, not any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
            <h3 class="head3"> Albeit another heading.</h3>
        </div>
    </div>
</div>
<div>
    <div class="grid grid-cols-2 gap-5">
        <div class="column">
            <h3 class="head3 ml-5 mr-5">Me, piker</h3>
            <p class="par">
                And this is a paragraph right below it.
                Here goes some text and text and text and text.
                This text will then be rendered in the webpage, as any other.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="column">
            <img src="jb.pk.def.svg" class="m-5 w-11/12" alt="photo of piker"/>
        </div>
    </div>
</div>
</body>
