---
import StdHeader from "../components/StdHeader.astro";
---
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/jb.pk.def.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>piker's hangout</title>
</head>

<style is:global>
    body {
        background-color: #141D2C;
    }
</style>
<body>
<style>
    .head3 {
        padding-top: 5px;
        font-size: xxx-large;
        color: #A8A2A2;
        text-align: center;
        font-family: "Anonymous pro", monospace;
    }
    .head5 {
        font-size: large;
        text-align: center;
        color: #A8A2A2;
    }
    .titles {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .svg-tit {
        height: 350px;
        width: 350px;
    }
    .svg-social {
        height: 72px;
        width: 72px;
        margin: auto;
    }
    .socials-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 100%;
        padding-top: 200px;
    }
</style>
<StdHeader/>

<div class="titles">
    <img src="jb.pk.def.svg" alt="jetbrains logo personalised mock" class="svg-tit"/>
    <h3 class="head3">piker <strong>is a dev</strong></h3>
    <h5 class="head5">or not. I might be lying.</h5>
</div>
<div class="socials-container">
    <a href="https://github.com/Piker98988"><img src="github-mark-white.svg" class="svg-social" alt="github"/></a>
    <iframe
            class="a-socials"
            title="Discord user embed"
            width=340
            height=72
            sandbox="allow-scripts"
            src="https://widgets.vendicated.dev/user?id=969989127518953542&theme=dark&banner=false&full-banner=false&rounded-corners=true&discord-icon=true&badges=false&guess-nitro=false&"
    ></iframe>
    <a href="https://wakatime.com/@piker"><img src="Logo-inverted.svg" class="svg-social mr-20" alt="wakatime"/></a>
</div>
</body>
</html>
