---
export interface Props {
    command: string
}

const { command = "placeholder" } = Astro.props;
---
<style>
    body {
        background: #333;
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    @media (max-width: 599px) and (min-width: 400px) {
        .body {
            width: 125%;
        }
    }
    @media (max-width: 399px) {
        .body {
            width: 150%;
        }
    }

</style>
<script define:vars={{command}}>
    import TypeIt from "typeit";
    new TypeIt("#codeing", {
        strings: command
    }).go();
</script>
<div class="flex flex-row">
    <h1 class="w-fit mr-3">> </h1>
    <h1 id="codeing" class="w-fit"></h1>
</div>